# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Playwright outputs
playwright-report/
test-results/
artifacts/

# Allure: don't commit local results or generated static report
allure-results/
allure-report/

# Misc
.DS_Store
.vscode/
.idea/
.env
Functions/